{% extends "base.html" %}
{% block content %}
<h2>Election Statistics</h2>

{% for election_title, candidates in statistics.items() %}
    <h4>{{ election_title }}</h4>
    <a href="{{ url_for('download_statistics', election_title=election_title) }}" class="btn btn-secondary">Download PDF</a> <!-- Moved here -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Candidate Name</th>
                <th scope="col">Total Votes</th>
            </tr>
        </thead>
        <tbody>
            {% if candidates %}
                {% for candidate in candidates %}
                    <tr>
                        <td>{{ candidate.candidate_name }}</td>
                        <td>{{ candidate.total_votes }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">No candidates for this election.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endfor %}

<a href="{{ url_for('download_all_statistics') }}" class="btn btn-primary">Download All Statistics PDF</a>
<a href="{{ url_for('dashboard') }}" class="btn btn-primary">Back to Dashboard</a>
{% endblock %}
